<%- include('partials/header') %>

<div class="carousel slide" data-ride="carousel" style="height: 100%;">
    <div class="carousel-inner">
        <div class="landing carousel-item active" data-interval="3000">
            <img src="https://images.wallpaperscraft.com/image/camping_sausages_fire_125124_3840x2400.jpg"
                class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="display-1">Campgrounds</h1>
                <p>Find your favorite campgrounds in Sri Lanka</p>
                <a class="btn btn-light" href="/campgrounds">View all campgrounds</a>
            </div>
        </div>
        <div class="landing carousel-item" data-interval="6000">
            <img src="https://ak6.picdn.net/shutterstock/videos/1036164176/thumb/1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="display-1">Campgrounds</h1>
                <p>Find your favorite campgrounds in Sri Lanka</p>
                <a class="btn btn-light" href="/campgrounds">View all campgrounds</a>
            </div>
        </div>
        <div class="landing carousel-item" data-interval="6000">
            <img src="https://q-cf.bstatic.com/images/hotel/max1024x768/214/214712374.jpg" class="d-block w-100"
                alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1 class="display-1">Campgrounds</h1>
                <p>Find your favorite campgrounds in Sri Lanka</p>
                <a class="btn btn-light" href="/campgrounds">View all campgrounds</a>
            </div>
        </div>
    </div>
</div>


<%- include('partials/footer') %>