<%- include('partials/header') %>

<div class="container">
    <h3 class="text-center">Log in to Campgrounds</h3>
    <form action="/login" method="POST">
        <div class="form-group">
            <input class="form-control" type="text" name="username" placeholder="username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="password">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" name="keepLoggedIn">
            <label class="form-check-label">Keep me logged in</label>
        </div>
        <input class="btn btn-primary" type="submit">
    </form>
</div>

<%- include('partials/footer') %>